@import url("./style.css");
@import url("footer.css");


#container {
  background-color: #fff;
  padding: 2.5rem;

  border: 2px solid #717F63;
  border-radius: 5%;
  box-shadow: 0 8px 20px rgba(0, 68, 170, 0.15);
  max-width: 600px;
  width: 90%;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0 auto;
  margin-top: 5rem;
}

#pergunta {
  color: #564e43;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

#txtInput {
  width: 80%;
  padding: 0.8rem;
  border: 2px solid #717F63;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: #717F63;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #717F63;
}


.grafico {
  margin: 2rem auto 0; 
  max-width: 400px;
  width: 100%;
  display: block;
}