.footer {
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f8ff;
  border-top: 2px solid #1e64e0;
  text-align: center;
  color: #1e64e0;
  padding: 0.8rem 0;
  font-size: 0.9rem;
}
