.footer {
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #564e43;
  border-top: 2px solid #564e43;
  text-align: center;
  color: #eae8dc;
  padding: 0.8rem 0;
  font-size: 0.9rem;
}
.footer p{
  color: #eae8dc;
}