.footer {
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8 %;
  background-color: #717F63;
  border-top: 2px solid #717F63;
  text-align: center;
  color: #eae8dc;
  padding: 1rem 0;
  font-size: 0.9rem;
}
.footer p{
  color: #eae8dc;
}