/* HEADER */
header {
  background-color: #717F63;
  box-shadow: 0 2px 8px rgba(0, 50, 150, 0.1);
  padding: 0.8rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* NAVBAR EM GRID */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* esquerda - centro - direita */
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 90px;
  gap: 20px;
}

/* LOGO (COLUNA 1) */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: auto;
}

.logo-container h1 {
  font-size: 1.4rem;
  color: #eae8dc;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
}

/* BARRA DE BUSCA (COLUNA 2) */
.search-wrapper {
  display: flex;
  justify-content: center; /* garante centralizar dentro da coluna */
}

.search-area {
  display: flex;
  align-items: center;
  background: #eae8dc;
  padding: 6px 14px;
  border-radius: 30px;
  gap: 8px;
  width: 100%;
  max-width: 450px;
}

.search-input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 0.95rem;
  color: #717F63;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #717F63;
  font-size: 1rem;
}

/* AÇÕES DA DIREITA (COLUNA 3) */
.right-actions {
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: flex-end; /* empurra tudo para o lado direito */
}

.acessibilidade-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.acessivel {
  font-size: 0.9rem;
  background-color: #eae8dc;
  color: #717F63;
  border: 2px solid #717F63;
  padding: 8px 12px;
  border-radius: 8px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.acessivel:hover {
  transform: translateY(-3px);
}

/* LOGIN BUTTON */
.login-area a {
  background: #eae8dc;
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
}

.login-area a:hover {
  transform: translateY(-3px);
}

/* MENU INFERIOR */
.nav-links {
  list-style: none;
  color: #eae8dc;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 12px 0 0;
  margin: 0;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #eae8dc;
  padding-bottom: 4px;
  transition: color 1s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: width 0.4s ease;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links a:hover::after {
  width: 100%;
}
