@import url("./style.css");


.profissoes-container {
    max-width: 900px;
    margin: 3rem auto;
    padding: 0 1.5rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #717F63;
    font-size: 2rem;
}



.card {
    background: #fff;
    padding: 1.8rem;
    margin-bottom: 2rem;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.card h2 {
    margin-top: 0;
    color: #717F63;
}
.profissao{
    width: 100%;
}
.numerico{
    width: 15%;
}
.card input {
    
    padding: 12px;
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    font-size: 1rem;
    background: #fafafa;
    transition: 0.3s;
}

.card input:focus {
    outline: none;
    border-color: #717F63;
}

.btn {
    background: #717F63;
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn:hover {
    background: #717F63;
}

.btn-secundario {
    background: #717F63;
}

.btn-secundario:hover {
    background: #717F63;
}

.tabela-profissoes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background: #fff;
    font-size: 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.tabela-profissoes thead {
    background: #717F63;
    color: #fff;
}

.tabela-profissoes th,
.tabela-profissoes td {
    padding: 12px 16px;
    text-align: left;
}

.tabela-profissoes tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.tabela-profissoes tbody tr:hover {
    background: #e6e6e6;
    transition: 0.2s;
}

