@import url("./header.css");
@import url("./footer.css");
@import url("./vagas.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eae8dc;
  color: #222;
  text-align: center;
  padding: 0 20px 20px 20px;
}
nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 25px;
  padding: 0;
}


nav ul li a {
  position: relative;
  display: inline-block;
  color: #eae8dc;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* linha animada */
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: eae8dc;
  transition: width 0.5s ease;
}

nav ul li a:hover {
  color: #eae8dc;
}

nav ul li a:hover::after {
  width: 100%;
}
main {
  flex: 1;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.banner-container {
  position: relative;
  width: 80%;
  align-content: center;
  max-width: 900px;
  margin: 2rem auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.banner-img {
  width: 100%;
  display: block;
}


.btn-nav {
 position: absolute;
  top: 50%;                    
  transform: translateY(-50%);  
  background-color: #0056ff;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 10;                   
}
.btn-nav:hover {
  background-color: #0056ff;
  transform: translateY(-50%) scale(1.1);
}

.left-btn {
  left: 15px;
}

.right-btn {
  right: 15px;
}

h2, p {
  margin-top: 15px;
  font-size: 1.2rem;
}



.logo{
    width: 5%;
    height: 5%;
    display: block;
}

.tabela-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 1100px;
}

